@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-base;
  }
}

.cursor-newtab {
  cursor: url('/images/new-tab.png') 10 10, pointer;
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
    linear-gradient(
            to right,
            var(--color-primary-400),
            var(--color-primary-500)
    );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
      border-color;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }
}

a.custom-link {
  @apply border-gray-200 hover:border-gray-200/0;
}

@layer components {
  .main-box {
    @apply ring-content relative rounded-lg px-6 py-6 shadow-xl ring-2 transition ease-in-out sm:px-6;
  }
}

.renderPost {
  @apply prose prose-sm md:prose-base dark:prose-invert prose-headings:font-bold prose-headings:text-2xl prose-p:text-justify prose-img:main-box prose-img:shadow-content prose-img:p-0 lg:prose-img:max-w-[35dvw];
}